* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--chakra-fonts-body);
    color: var(--chakra-colors-gray-800);
    background: var(--chakra-colors-white);
    transition-property: background-color;
    transition-duration: var(--chakra-transition-duration-normal);
    line-height: var(--chakra-lineHeights-base);


    .container {
        background-image: url('/images/banner.png');
        padding: 2rem;
        padding-bottom: 5rem;

        .navbar {
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .logo {
                height: 40px;
                color: #fff;
            }
        }

        .text {
            font-size: 62px;
            font-weight: 600;
            margin-left: 17rem;
            margin-top: 5rem;
            line-height: 110%;
            text-align: center;
            color: #fff;
            text-shadow: 2px 2px 2px #171923;
            width: 57%;
        }

        .search-input {
            padding-top: 5rem;
            padding-left: 25rem;

                input{
                    position: relative;
                    width: 44%;
                    height: 60px;
                    font-size: 20px;
                    border-radius: 8px;
                    border: 1px;
                    background-color: window;

                    &::placeholder {
                        font-size: 14px;
                        padding-left: 18px;
                        color: rgb(190, 199, 198);
                    }
                }

                button {
                    margin-left: 24px;
                    width: 50px;
                    height: 50px;
                    border-radius: 30px;
                    border: none;
                    cursor: pointer;
                }
         }

    }


    .order-service {
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: #F7FAFC;
        padding-top: 7rem;

        .by-product {
            width: 30%;

            img {
                padding: 50px;
                background: #E2E8F0;
                border-radius: 500px;
                margin-bottom: 20px;
            }

            h2 {
                padding-bottom: 2.5rem;
            }

            p {
                font-size: 18px;
                text-align: center;
                margin: 14px;
            }
        }
    }


    .order-img {
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: #F7FAFC;
        padding-top: 4rem;

        .product-img {
            width: 20.3%;

            img {
                padding: 50px;
                background: #E2E8F0;
                border-radius: 500px;
                margin-bottom: 20px;
                cursor: pointer;
            }

            p {
                font-size: 18px;
                text-align: center;
                cursor: pointer;
            }
        }

        .half-brush {
            position: absolute;
            right: 0;
        }
    }


    .shop-now {
        text-align: center;
        background-color: #F7FAFC;
        padding-top: 7rem;

        p {
            color: rgb(237, 58, 58);
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            padding-top: 10px;
        }

    }


    .customer {
        display: flex;
        padding-top: 15rem;

        .quote-mark {
            padding-left: 20rem;

            img {
                height: auto;
                width: 6rem;
            }
        }

        h1 {
            margin-left: 5rem;
            font-size: 45px;
            font-weight: 700;
            margin-top: 30px;
        }
    }

    .customer-testimony {
        display: flex;
        justify-content: space-around;
        margin-top: 10rem;
        padding-right: 8rem;

        .testimony {
            padding-left: 8rem;


                .border1 {
                    padding: 14px;
                    border-radius: 27px;
                    color: white;
                    background: blue;
                    width: 18px;
                }

            .quote-image {
                display: flex;
                width: 80%;
                padding-top: 35px;
                
                img {
                    width: 30px;
                    padding-bottom: 80px;
                }
                p {
                    padding-left: 40px;

                }
            }
        }
    }

}
