* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--chakra-fonts-body);
    color: var(--chakra-colors-gray-800);
    background: var(--chakra-colors-white);
    transition-property: background-color;
    transition-duration: var(--chakra-transition-duration-normal);
    line-height: var(--chakra-lineHeights-base);


    .container {
        background-image: url('./images/banner.png');
        padding: 2rem;
        padding-bottom: 5rem;

        .navbar {
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .logo {
                height: 40px;
                color: #fff;
            }
        }

        .text {
            font-size: 62px;
            font-weight: 600;
            margin-left: 17rem;
            margin-top: 5rem;
            line-height: 110%;
            text-align: center;
            color: #fff;
            text-shadow: 2px 2px 2px #171923;
            width: 57%;
        }

        .search-input {
            padding-top: 5rem;
            padding-left: 25rem;

                input{
                    position: relative;
                    width: 44%;
                    height: 60px;
                    font-size: 20px;
                    border-radius: 8px;
                    border: 1px solid #fff;
                    background: none;

                    &::placeholder {
                        font-size: 20px;
                        padding-left: 18px;
                        color: #fff;
                    }
                }

                // button {
                //     margin-left: 24px;
                //     width: 50px;
                //     height: 50px;
                //     border-radius: 30px;
                //     border: none;
                //     cursor: pointer;
                // }

                button {
                    margin-left: 24px;
                    width: 125px;
                    height: 55px;
                    border-radius: 8px;
                    border: none;
                    cursor: pointer;
                    color: #FF1B03;
                    font-size: 18px;
                    font-weight: 700;
                }

         }

    }


    .order-service {
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: #F7FAFC;
        padding-top: 7rem;

        .by-product {
            width: 30%;

            img {
                padding: 50px;
                background: #E2E8F0;
                border-radius: 500px;
                margin-bottom: 20px;
            }

            h2 {
                padding-bottom: 2.5rem;
            }

            p {
                font-size: 18px;
                text-align: center;
                margin: 14px;
            }
        }
    }


    .order-img {
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: #F7FAFC;
        padding-top: 4rem;
        padding-bottom: 9rem;

        .product-img {
            width: 20.3%;

            img {
                padding: 50px;
                background: #E2E8F0;
                border-radius: 500px;
                margin-bottom: 20px;
                cursor: pointer;
            }

            p {
                font-size: 18px;
                text-align: center;
                cursor: pointer;
            }
        }

        .half-brush {
            position: absolute;
            right: 0;
        }
    }


    .shop-now {
        text-align: center;
        background-color: #F7FAFC;
        padding-top: 7rem;

        p {
            color: rgb(237, 58, 58);
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            padding-top: 10px;
        }

    }


    .customer {
        display: flex;
        padding-top: 6rem;

        .quote-mark {
            padding-left: 20rem;

            img {
                height: auto;
                width: 6rem;
            }
        }

        h1 {
            margin-left: 5rem;
            font-size: 45px;
            font-weight: 700;
            margin-top: 30px;
        }
    }

    .customer-testimony {
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(3, 1fr);
        margin: 95px;
        gap: 85px;

        .testimony {
            padding: 17px;
            box-shadow: 0px 7px 13px 0px #e2e2e2;
            border-radius: 5px;


                .border1 {
                    padding: 14px;
                    border-radius: 27px;
                    color: white;
                    background: blue;
                    width: 18px;
                }

                .border2 {
                    padding: 14px;
                    border-radius: 27px;
                    color: white;
                    background: #535441;
                    width: 18px;
                }

                .border3 {
                    padding: 14px;
                    border-radius: 27px;
                    color: black;
                    background: greenyellow;
                    width: 18px;
                }

            .quote-image {
                display: flex;
                width: 80%;
                padding-top: 35px;
                
                img {
                    width: 30px;
                    padding-bottom: 80px;
                }
                p {
                    padding-left: 40px;
                    width: 14rem;
                }
            }

            .quote-img {
                display: flex;
                width: 123%;
                padding-top: 35px;
                
                img {
                    width: 30px;
                    padding-bottom: 80px;
                }
                p {
                    padding-left: 40px;
                }
            }

            .customer-name {
                font-weight: bold;
                margin-top: 10px;
            }
        }
    }

    .sendme {
        margin: 10rem;

        p {
            text-align: center;
            font-weight: 700;
            font-size: 40px;
            margin-bottom: 5rem;
        }

        .supplies {
            display: flex;
            background-color: #FF1B03;
            border-radius: 10px;
            padding-top: 4rem;
            padding-bottom: 4rem;
       

            .b-supply {
                margin-left: 6rem;
                 

                .supply {
                    font-size: 40px;
                    color: #fff;
                    margin-top: 4rem;
                    width: 85%;
                    text-align: initial;
                }

                button {
                    color: red;
                    background-color: #fff;
                    width: 45%;
                    height: 12%;
                    border: none;
                    border-radius: 5px;
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            .supply-image {
                display: flex;

                .image1 {
                    position: absolute;
                    padding-top: 50px;
                    right: 29rem;
                }
                .image2 {
                    position: relative;
                    left: 20px;
                }
            }
        }
    }

    .sendme-work {
        background: #E2E8F0;
        padding-bottom: 1rem;

        .title {
            font-size: 40px;
            text-align: center;
            padding-top: 8rem;
        }

        .d-flex {
            display: flex;
            background-color: #fff;
            margin: 7rem;
            border-radius: 10px;

            img {
                padding-left: 4.3rem;
            }

            .text {
                margin: 6rem;
                justify-content: center;

                .left {
                    font-size: 40px;
                    padding-bottom: 20px;
                }

                .b-left {
                    font-size: 23px;
                    padding-bottom: 20px;
                }

                button {
                    color: #fff;
                    background-color: rgb(220, 48, 48);
                    width: 35%;
                    height: 25%;
                    border: none;
                    border-radius: 5px;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }

    footer{
        background-color: black;

        .containers {
            justify-content: center;
            display: flex;
            padding-top: 10rem;
            padding-bottom: 4rem;

            .footer-logo {
                position: absolute;
                left: 25rem;
                padding-top: 8rem;
            }


               .about {
                    color: #fff;
                    position: relative;
                    padding-top: 8rem;
                    left: 45px;
               }
        }

        .socials {
            left: 95px;
            position: relative;
            bottom: 40px;
            line-height: 45px;

            .social-logo {
                padding-bottom: 30px;
            
               a {
                   display: flex;
                   text-decoration: none;

                    img {
                        padding: 7px;
                        border-radius: 17px;
                        color: white;
                        background: #1A202C;
                        width: 35px;
                    }

                   p {
                        padding-left: 2rem;
                        font-size: 17px;
                        color: #fff;
                        list-style-type: none;
                    }
                }
            }
        }
    }
}